html {
    height: 100% !important;
}

body {
    height: 100% !important;
}

#__nuxt {
    height: 100% !important;
}

#__layout {
    height: 100% !important;
}

.content {
    height: 88% !important;
}

.VueCarousel-dot-container {
    margin-top: 0.5em !important;
}

.VueCarousel-dot {
    margin-top: 0px !important;
}

/* .fa-check {
    color: greenyellow;
}

.fa-times {
    color: red;
} */