html {
    height: 100% !important;
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    height: 100% !important;
}

#__nuxt {
    min-height: 100vh !important;
    position: relative;
}

#__layout {
    min-height: 100vh !important;
    position: relative;
}

.VueCarousel-dot-container {
    margin-top: 0.5em !important;
}

.VueCarousel-dot {
    margin-top: 0px !important;
}

/* .fa-check {
    color: greenyellow;
}

.fa-times {
    color: red;
} */