html {
    height: 100vh !important;
}

body {
    min-height: 100vh !important;
}

#__nuxt {
    min-height: 100vh !important;
    /* min-height: 100% !important; */
}

#__layout {
    min-height: 100vh !important;
}

.content {
    height: 88vh !important;
}

.VueCarousel-dot-container {
    margin-top: 0.5em !important;
}

.VueCarousel-dot {
    margin-top: 0px !important;
}

/* .fa-check {
    color: greenyellow;
}

.fa-times {
    color: red;
} */